@import "./reset.scss";
@import "./index.scss";
// 引入图标字体
@font-face {
    font-family: "iconfont";
    src: url("../font/iconfont.woff")format("woff");
}
#gome-head.w990, body.w990 #gome-head {
    width: 990px;
}
body {
    font-family: "Microsoft YaHei",Arial;
    color: #333;
}
body, button, input, select, textarea {
    font: 12px/1.5 arial,"\65b0\5b8b\4f53";
}
.wbox {
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.pr {
    position: relative;
}
.pabs {
    position: absolute;
}
.pt8 {
    padding-top: 8px;
}
.w120 {
    width: 120px;
}
.box-sd1 {
    box-shadow: 0 0 23px 1px #ccc;
}
a.black {
    color: #333;
}
.w990 .regon a {
    max-width: 265px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
// 头部
#gome-head {
    position: relative;
    height: 120px;
    vertical-align: middle;
    z-index: 980;
    // logo部分
    #logo {
        float: left;
        margin: 32px 10px 0 0;
        a {
            display: block;
            width: 125px;
            height: 56px;
            background: url("../images/cart/logo.png") 0 0 no-repeat;
            text-indent: -99px;
            overflow: hidden;
        }
    }
    // 文字
    #head-title {
        margin-left: 0;
    }
    #head-title, #head-title a {
        color: red;
        text-decoration: none;
    }
    #head-guide, #head-title {
        font: 400 26px/120px 'microsoft yahei';
        float: left;
        display: inline;
        padding: 0 40px 0 0;
    }
    .head-title-cart {
        background: url("../images/cart/gwc.png") no-repeat 0 32px;
        width: 135px;
        text-indent: -999px;
    }
}

// 商品清算界面
// 登录一
// 公共样式

// 公共样式1 start i标签的图标样式
.c-i.attention,
.c-i.mdzt,
.c-i.seven, 
.c-i.seven_no, 
.icon-zhuang {
    border-radius: 5px;
    vertical-align: sub;
}
.c-i {
    display: inline-block;
    overflow: hidden;
    background-image:url("../images/cart/sprite.png") !important;
}
// 公共样式1 end i标签的图标样式
.container1 {
    width: 990px;
    margin: 0 auto;
    height:53px;
    // 左侧 立即登录部分
    .cart-login-tip {
        color: #333;
        padding: 10px 0;
        padding-bottom: 15px;
        font-size: 12px;
        .cart-login-btn {
            // 立即登录按钮
            background: #e3101e;
            color: #fff;
            display: inline-block;
            padding: 4px 8px;
            border-radius: 3px;
            line-height: 20px;
        }
    }

    // 右侧 地理区域
    .cart-area {
        width: 448px;
        text-align: right;
        color: #a5a5a5;
        padding: 10px 0;
        // 运费说明
        .shipfee-dec {
            float: left;
            .shipfee-pop-label {
                color: #5e5e5e;
                text-align: right;
                margin-top: 2px;
                cursor: pointer;
            }
            .c-i {
                margin-right: 5px;
                vertical-align: sub;
            }
            // 属于这个i的单独的样式
            .c-i.attention {
                width: 14px;
                height: 14px;
                background-position: -307px -83px;
            }
            // 隐藏的区域
            .shipfee-tip-pop {
                right: -9px;
                top: 0;
                z-index: 100;
                width: 460px;
                padding: 10px 20px;
                border: 1px solid #ccc;
                background: #fff;
                text-align: left;
                display: none;
                .shipfee-tip-ab {
                    // 公共样式
                    em,span {
                        position: absolute;
                        right: 60px;
                        top: 0;
                        width: 26px;
                        height: 16px;
                        font-size: 26px;
                        overflow: hidden;
                        _position: relative;
                        margin-left: 10px;
                    }
                    em {
                        margin-top: -16px;
                        color: #ccc;
                        font-style: normal;
                    }
                    span {
                        color: #fff;
                        margin-top: -14px;
                    }
                    .shipfee-pop-othertip {
                        color: #999;
                        line-height: 1.8em;
                    }
                    // 查看更多
                    .shipfee-rule-more {
                        text-align: right;
                        margin-top: 10px;
                        a {
                            color: #666;
                            i {
                                font-size: 14px;
                                font-family: "å®‹ä½“";
                            }
                        }
                    }
                }
            }

        }
        // 移入区域隐藏区域显示 ,属于运费说明
        .shipfee-dec:hover .shipfee-tip-pop{
            display: block;
        }
        // 右边地理区域选择
        // 右边区域公共样式
        .cityShow, .prdRight .city {
            position: relative;
            z-index: 1000;
        }
        .regon {
            position: relative;
            padding: 1px 20px 1px 1px;
            line-height: 20px;
            height: 22px;
            color: #0172D0;
            border: 1px solid #e5e5e5;
            display: inline-block;
            background: #fff;
           a {
                max-width: 265px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                border: 0;
                padding: 0 0 0 5px;
                text-decoration: none;
                height: 22px;
                line-height: 22px;
                float: left;
            }
        }
        .prdRight {
            display: inline-block;
            vertical-align: middle;
            line-height: 18px;
            z-index: auto;
            // a的公共样式
            .gctSelect a, .gctSelect a.cur,.regon a {
                color: #333;
            }
            .regon {
                padding-right: 5px;
                a {
                    background: url("../images/cart/new-cart-arrow.png") no-repeat right 8px;
                    padding-right: 16px;
                }
            }
        }
    }
}

    // 商品清单
    // 商品清单,全选部分 start
.container2 {
    width: 990px;
    margin: 0 auto;
    .cart-main-header {
        height: 44px;
        line-height: 44px;
        background: #eee;
        width: 988px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        // 全选部分的公共样式
        .cart-col-1, 
        .cart-col-12, 
        .cart-col-2, 
        .cart-col-3, 
        .cart-col-4, 
        .cart-col-5, 
        .cart-col-6, 
        .cart-col-7, 
        .cart-col-8 {
            float: left;
        }
        .cart-col-1, .cart-col-5 {
            text-align: center;
        }
        //1. 复选框部分
        .cart-col-1 {
            width: 40px;
            .c-i {
                margin-left: 5px;
            }
            //显示部分
            .c-i.checkbox_chose {
                width: 14px;
                height: 14px;
                background-position: -422px -82px;
            }
            // 隐藏部分  提示信息

            // 隐藏提示公共部分
            .selectAllItemOffBottom, .selectAllItemOffTop {
                z-index: 990;
                left: 0;
                background: #fff;
                width: 100px;
                line-height: 2em;
                padding: 5px;
                color: #666;
                box-shadow: 1px 1px 10px 1px #ccc;
                border: 1px solid #eee;
            }
            .white-arrow {
                font-size: 30px;
                overflow: hidden;
                position: absolute;
                height: 20px;
                color: #fff;
            }
            .selectAllItemOffTop {
                display: none;
                top: 33px;
                .white-arrow {
                    top: -13px;
                    left: 17px;
                    font-size: 17px;
                }
            }
        }
        // 2.文字全选
        .cart-col-2 {
            width: 91px;
        }
        // 3.内联样式
        // 4,单价
        .cart-col-4 {
            width: 155px;
            .cart-good-real-price {
                padding-left: 22px;
                padding-right: 40px;
            }
        }
        // 5 数量
        .cart-col-5 {
            width: 80px;
        }
        div.text-left {
            text-align: left;
        }
        // 6.小计
        .cart-col-6 {
            font-weight: 400;
            width: 154px;
            .cart-good-amount {
                text-align: right;
                padding-right: 70px;
                white-space: nowrap;
            }
           .cart-good-amount {
                position: relative;
                font-size: 13px;
            }
        }
        // 7. 操作
        .cart-col-7 {
            width: 79px;
        }
    }
}
    // 商品清单,全选部分 end


// 商品主体 start
.container3 {
    width: 990px;
    margin: 0 auto;
    // 公共样式
    .cart-col-1, 
    .cart-col-12, 
    .cart-col-2, 
    .cart-col-3, 
    .cart-col-4, 
    .cart-col-5, 
    .cart-col-6, 
    .cart-col-7, 
    .cart-col-8 {
        float: left;
    }
    .cart-col-1, .cart-col-5 {
        text-align: center;
    }
    // 1.店铺名 start
.cart-shop-header {
    height: 38px;
    line-height: 38px;
    border: 1px solid #ddd;
    border-bottom: none;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px 3px 0 0;
    // 1.单选框部分 start
        .cart-col-1 {
            width: 40px;
            .c-i {
                margin-left: 5px;
            }
            .c-i.checkbox_chose {
                width: 14px;
                height: 14px;
                background-position: -422px -82px;
            }
    }
    // 1.单选框部分 end

    // 2.店铺名 start
   .cart-col-2 {
        height: 38px;
        width: 332px;
        a.black {
            color: #333;
        }

        // 店铺名 
        .cart-shop-name {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            max-width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 700;
        }

        // 2.客服
        .cart-kf {
            display: none;
            color: #ccc;
            top: 5px;
            margin-left: 8px;
        }
        .cart-header-kf {
            vertical-align: top;
            line-height: 38px;
            height: 38px;
        }
        .customerServiceAshes{
            filter: grayscale(100%);
        }
        .c-i.c-kf-on {
            width: 20px;
            height: 19px;
            background-position: -327px -64px;
        }
        .contact-customer-word {
            position: relative;
            cursor: pointer;
            display: inline-block;
        }
        .contact-font {
            color: #333;
        }

    }
    // 2. 店铺名 end
   
}
//2. 店铺名 end

// 3.商品部分 start
// 公共样式部分
.cart-shop-goods .cart-item-last:last-child, 
.cart-shop-goods-normal .cart-item-last {
    border-bottom: none;
}
.cart-shop-good .cart-col-1.border-top, 
.cart-shop-good .cart-col-2, 
.cart-shop-good .cart-col-3, 
.cart-shop-good .cart-col-4, 
.cart-shop-good .cart-col-5, 
.cart-shop-good .cart-col-6, 
.cart-shop-good .cart-col-7, 
.cart-shop-good .cart-col-8 {
    border-top: 1px solid #eee;
}
.cart-shop-good .cart-col-1, 
.cart-shop-good .cart-col-2, 
.cart-shop-good .cart-col-3, 
.cart-shop-good .cart-col-4, 
.cart-shop-good .cart-col-5, 
.cart-shop-good .cart-col-6, 
.cart-shop-good .cart-col-7 {
    padding: 20px 0;
}
.cart-shop-good-common .cart-col-2, 
.cart-shop-good-common .cart-col-3, 
.cart-shop-good-common .cart-col-4, 
.cart-shop-good-common .cart-col-5, 
.cart-shop-good-common .cart-col-6, 
.cart-shop-good-common .cart-col-7, 
.cart-shop-good-common .cart-col-8 {
    border: none;
}
.cart-shop-goods {
    border: 1px solid #e6e6e6;
    .cart-shop-good-checked {
        background: #fffaf4;
    }
    .cart-shop-good {
        position: relative;
         // 1.单选框部分
         &>.cart-col-1.border-top {
            border-top: none;
        }
        .cart-col-1 {
            width: 40px;
            position: relative;
            z-index: 1;
            margin-left:-40px;
            .c-i {
                margin-left: 5px;
            }
            .c-i.checkbox_chose {
                width: 14px;
                height: 14px;
                background-position: -422px -82px;
            }
        }

        // 2.图片部分
        .cart-col-2 {
            width: 91px;
        }
        // 3.介绍部分
        .cart-col-3 {
            width: 208px;
            .cart-good-name {
                height: 38px;
                overflow: hidden;
                a{
                    color: #333;
                }
            }
            .c-i.seven_no {
                width: 16px;
                height: 16px;
                background-position: -890px -16px;
            }
            .support-server i {
                margin-right: 5px;
                float: left;
            }
           
        }

        // 4. 8修改样式
        .cart-col-8 {
            padding: 10px 0 20px;
            width: 180px;
            .cart-good-pro {
                position: absolute;
                width: 160px;
                padding: 8px 0 10px 20px;
                color: #a7a7a7;
                // 颜色等详细信息
                .cart-saleprops-text {
                    cursor: pointer;
                    max-height: 84px;
                    overflow: hidden;
                    .cart-good-key {
                        max-width: 52px;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                    }
                    .cart-good-value {
                        max-width: 105px;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                    }
                }
                // 修改
                .cart-coupon {
                    display: inline-block;
                    height: 24px;
                    line-height: 24px;
                    color: #e3101e;
                    position: relative;
                    .c-i {
                        position: relative;
                        margin: 0;
                        line-height: 29px;
                    }
                    .c-i.arrowdown_red {
                        width: 9px;
                        height: 6px;
                        background-position: -816px -39px;
                    }
                }
                .cart-modify-saleprops {
                    width: 46px;
                    margin-left: 0;
                    margin-top: 5px;
                    .js-popup-child {
                        height: 20px;
                        line-height: 20px;
                        padding-left: 6px;
                        background-color: rgba(227,16,30,.1);
                        border-radius: 2px;
                        color: #E3101E;
                    }
                }
               
            }
        }

        //5. 商品单价 start
        // 公共样式
        .red {
            color: #e3101e!important;
        }
        .cart-col-4 .red, .cart-col-5 .red {
            color: #e3101e;
            padding-top: 5px;
            padding-bottom: 3px;
            line-height: 14px;
        }
        .cart-col-4 {
            width: 155px;
        }
        .cart-col-4 .red {
            margin-left: 30px;
        }
        .cart-price-height47 {
            min-height: 47px;
            .cart-good-real-price {
                padding-left: 22px;
                padding-right: 40px;
            }
        }
        //5. 商品单价 end

        // 6. 商品数量编    辑 start
        .cart-col-5 {
            width: 80px;
            .cart-count {
                width: 50px;
            }
            .gui-count {
                display: inline-block;
                padding: 0 15px;
                position: relative;
                overflow: hidden;
                // 公共样式
                a {
                    background: #fff;
                }
                .gui-count-btn {
                    color: #666;
                    line-height: 20px;
                    font-family: "Microsoft Yahei";
                    *top: 0;
                }
                .gui-count-btn {
                    border: 1px solid #ccc;
                    text-decoration: none;
                    width: 20px;
                    text-align: center;
                    display: block;
                    width: 15px;
                    color: #ccc;
                    position: absolute;
                    top: 0;
                    *top: 1px;
                    height: 20px;
                    font-weight: bold;
                }
                // - start
                .gui-count-disabled {
                    color: #ddd;
                    cursor: default;
                }
                .gui-count-sub {
                    left: 0;
                }
                // - end

                // + start
                .gui-count-add {
                    right: 0;
                    color: #666;
                }
                // +end
                 // 输入框 start
                 .gui-count-input {
                    height: 20px;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    border: 1px solid #ccc;
                    border-right: none;
                    border-left: none;
                    width: 100%;
                    display: block;
                    text-align: center;
                    background: #fff;
                    input {
                        border: none;
                        outline: none;
                        width: 100%;
                        height: 20px;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        text-align: center;
                    }
                }
                //输入框end
            }
        }
        // 6. 商品数量编辑 end

        // 7.小计 start
        .cart-col-6 {
            width: 154px;
            font-weight: 700;
            .cart-good-amount {
                text-align: right;
                padding-right: 70px;
                white-space: nowrap;
            }
            .cart-good-amount {
                position: relative;
                font-size: 13px;
            }
        }
        // 7.小计 end

        // 8.操作 start
        .cart-col-7 {
            width: 79px;
            .cart-good-fun {
                padding-top: 1px;
            }
            a {
                color: #666;
            }
            .cart-good-fun {
                margin-bottom: 2px;
            }
        }
        // 8.操作end    




    }
   

}
// 3.商品部分 emd
}

// 商品主体 end


// 商品结算部分 start
.cart-bottom-wrap {
    margin-top: 20px;
    .cart-bottom-info {
        background: #f3f3f3;
        height: 60px;
        // 公共样式
        .cart-col-1, 
        .cart-col-12, 
        .cart-col-2, 
        .cart-col-3, 
        .cart-col-4, 
        .cart-col-5, 
        .cart-col-6, 
        .cart-col-7, 
        .cart-col-8 {
            float: left;
        }
        .cart-col-1, .cart-col-5 {
            text-align: center;
        }
        .cart-col-1, 
        .cart-col-2, 
        .cart-col-3 {
            padding-top: 19px;
            line-height: 22px;
        }
        .pl84 {
            padding-left: 84px;
        }

        .container4 {
            width: 990px;
            margin: 0 auto;
            position: relative;
            // 1.复选框
            .cart-col-1 {
                width: 40px;
                .c-i {
                    margin-top: 5px;
                    margin-left: 5px;
                }
                .c-i.checkbox_chose {
                    width: 14px;
                    height: 14px;
                    background-position: -422px -82px;
                }
            }
            // 2.全选
            .cart-col-2 {
                width: 91px;
                a.black {
                    color: #333;
                }
            }
            // 3.
            .cart-col-3 {
                width: 110px;
            }
            .mlf14 {
                margin-left: -14px;
            }
            // 4. 计数
            .cart-col-4 {
                width: 532px;
                padding-right: 10px;
                text-align: right;
                font-size: 12px;
                font-family: Arial,"æ–°å®‹ä½“";
                line-height: 22px;

                // 已选xx件商品包裹起来
                .cart-bottom-selectgood {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    margin-right: 5px;
                    vertical-align: top;
                }
                .cart-price-red {
                    color: #e3101e;
                }
                .selected-price {
                    font-weight: 900;
                    font-size: 14px;
                }
                .c-i.arrow-top {
                    width: 7px;
                    height: 4px;
                    background-position: -150px -92px;
                }
                em {
                    margin-bottom: 3px;
                }
                // 总计部分 start
                .bottom-total-pirce {
                    display: inline-block;
                    overflow: hidden;
                    vertical-align: middle;
                    // 公共样式
                    dd, dt {
                        float: left;
                    }
                    dt {
                        text-align: right;
                       
                    }
                    .ffyh {
                        font-family: "Microsoft Yahei"!important;
                    }
                }
                // 总几部分end  
            }
            // 5结算
            // 公共样式
            .cart-col-5 a {
                transition: background .3s;
            }
            .cart-col-5 {
                width: 136px;
                a,a:hover {
                    background: #e3101e;
                    display: block;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    text-decoration: none;
                }
                .btn-normal {
                    font-family: microsoft YaHei;
                    font-size: 16px;
                    font-weight: 700;
                    em {
                        margin-left: 6px;
                    }
                    .c-i.arrowRight-white {
                        width: 12px;
                        height: 13px;
                        background-position: -232px -84px;
                    }
                }
                .btn-loading {
                    display: none;
                }
            }


        }
    }
}
// 商品结算部分 end

// 删除商品提示 start
.container5 {
    width: 990px;
    margin: 0 auto;
}
.cart-deleted {
    margin-top: 30px;
    margin-bottom: 60px;
    display: block;
    .cart-deleted-header {
        border: 1px solid #ddd;
        border-bottom: 0;
        padding: 10px;
    }
    .cart-deleted-content {
        border: 1px solid #ddd;
        padding: 10px;
        .fr {
            padding: 0 20px;
        }
    }
    .cart-deleted-item {
        line-height: 24px;
        a {
            color: #333;
        }
    }
    .deleted-col-1 {
        width: 540px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// 删除商品提示 end


// 为你推荐 start
.container6 {
    width: 990px;
    margin: 0 auto;
}
.cart-bottom-tab {
    margin-top: 20px;
    // 头部 start
    .cart-tab-header {
        position: relative;
        z-index: 1;
    }
    // 标题公共样式
    .cart-tab-header a {
        display: block;
        float: left;
        padding: 0 33px;
        line-height: 30px;
        color: #333;
        margin: 1px 1px 0;
        font: 12px/1.5 arial,"\65b0\5b8b\4f53"
    }
    // 当前显示在哪个页面则播放那个
    a.active {
        background: #fff;
        border: 1px solid #e6e6e6;
        border-bottom: none;
        margin: 0;
        color: #e3101e;
        font-weight: 700;
    }
    // 头部 end
   
    .tab-content-wrap {
        position: relative;
        top: -1px;
        border: 1px solid #e6e6e6;
        height: 251px;
        overflow: hidden;
        .cart-tab-content {
            padding: 20px;
            .scroll-container {
                position: relative;
                padding: 0 22px;
                height: 202px;
                .scroll-view {
                    margin-top: 5px;
                    height: 202px;
                    overflow: hidden;
                    position: relative;
                    // li
                    .cart-scroll-item {
                        width: 150px;
                        _height: 190px;
                        text-align: left;
                        margin: 0 15px;
                        _margin: 0 14px;
                        // a
                        .cart-scroll-image {
                            width: 100px;
                            height: 100px;
                            line-height: 100px;
                            display: block;
                            margin: 0 auto;
                            position: relative;
                            overflow: hidden;
                            img {
                                width: 100px;
                                height: 100px;
                            }
                            // 提示是否加入成功
                            .cart-scroll-tip {
                                // 默认隐藏,如果加入成功成功则显示
                                display: none;
                                height: 30px;
                                line-height: 30px;
                                background: #000;
                                color: #fff;
                                background-color: rgba(0,0,0,.5);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                margin-left: -50px;
                                margin-top: -15px;
                                
                                width: 100px;
                                text-align: center;
                            }
                        }
                        // 文字介绍
                        .cart-scroll-title {
                            height: 38px;
                            overflow: hidden;
                            margin-top: 14px;
                        }
                        // 价格
                        .cart-scroll-price {
                            color: #d70010;
                            font-weight: 700;
                            margin-bottom: 6px;
                            margin-left: 46px;
                            height: 18px;
                        }
                        .ffyh {
                            font-family: "Microsoft Yahei"!important;
                        }
                        // 加入购物车按钮
                        // 公共样式
                        .cart-scroll-btn, .cart-scroll-btn:hover {
                            height: 24px;
                            line-height: 24px;
                            display: inline-block;
                            color: #333;
                            border: 1px solid #e6e6e6;
                            text-decoration: none;
                            padding: 0 13px;
                            margin-left: 25px;
                        }
                        .cart-scroll-btn {
                            border: 1px solid #ddd;
                            color: #333;
                            background: #fff;
                        }
                    }
                }
            }
            // 左右键头
            .scroll-left-btn, .scroll-right-btn {
                position: absolute;
                top: 50%;
                margin-top: -10px;
                cursor: pointer;
            }
            .scroll-left-btn {
                left: 0;
            }
            .c-i.arrow-left {
                width: 13px;
                height: 18px;
                background-position: -372px -64px;
            }
            .scroll-right-btn {
                right: 0;
            }
            .c-i.arrow-right {
                width: 13px;
                height: 18px;
                background-position: -398px -64px;
            }
        }
    }
     // 为您推荐 start
    // 为您推荐 end
    
}

// 为你推荐 end