
//引入重置样式表
@import "./reset.scss";

 //设置主颜色
$mainColor:#b20fd3; 
// 设置版型宽度为1200px
$PlateWidth:1200px;

// 楼层设置
$floorWidth:1200px;    //楼层宽度

$floorHeight:541px;    //
$floormtHeight:38px;

$floormtPaddingTop:32px;
$floormcHeight:470px;

$floormtTopHeight:38px;
$floormtTopWidth:210px;


//floor 中头部右边tab的样式
$floorUlTabHeight:30px;
$floorUlTabMarginTop:8px;
$floorUlTabLiBgc:rgb(113, 158, 247);
$floorH2_text:6px;

$floormc_lWidth:210px;
$floormc_lHeight:470px;

$floormain_wrapWidth:990px;
$floormain_wrapHeight:470px;

a{
    text-decoration: none;
}

//头部 top
.h_top_wrap a {
    color: #888;
}
.h_top_wrap  a:hover{
    color: $mainColor;
}
.h_top_wrap li{
    font: 400 12px/30px Arial,"Microsoft YaHei";
}
.h_top_wrap{
    width:100%;
    background: #f8f8f8;
    color: #5e5e5e;
    border-bottom: 1px solid #f3f3f3;
    z-index: 999;
    .h_top_body{
        position: relative;
        width: 1200px;
        height: 30px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            >li>a>i{
                    position: absolute;
                    top: 12px;
                    right:8px;
                    background-position: -62px -433px;
                    width: 7px;
                    height: 4px;
                    overflow: hidden;
                    background-image: url("../images/index/ui1.png");
            }
        }
        ul #gome-user{  
            margin-right: 12px;
            position: relative;
            width: 94px;
            box-sizing: border-box;
            
            b{  
                height: 30px;
                position: relative;
                display: block;
                padding: 0 20px 0 10px;
                border: 1px solid #f8f8f8;
                border-bottom: 0;
                overflow: hidden;
                z-index: 9;
                a{
                    color: #888;
                }
                // 这个i是箭头的i
                i{
                    position: absolute;
                    top: 12px;
                    right:8px;
                    background-position: -62px -433px;
                    width: 7px;
                    height: 4px;
                    overflow: hidden;
                    background-image: url("../images/index/ui1.png");
                }
            }
            //顶部右边隐藏框样式
            .public_down{
                display: none;
                width: 290px;
                background-color: white;
                #user-name{
                    position: absolute;
                    top: 30px;
                    left: 0px;
                    padding: 10px 15px;
                    display: flex;
                    z-index: 8;
                    background-color: white;
                    // 这个i 是下拉框内容老虎
                    i{
                        width: 55px;
                        height: 55px;
                        border-radius: 50px;
                        background: url("../images/index/ui1.png");
                        display: inline-block;
                        vertical-align: middle;
                        background-position: 0 -337px;
                    }
                    div p {
                        padding:10px 0  0 15px;
                        width: 220px;
                        a{
                            color: #069;
    
                        }
                    }
                }
            }
            
        }
        > ul > #loginDiv-link{
            height: 30px;
           
            a:first-child{
                margin-right: 10px;
                line-height: 32px;
            }
            a:last-child{
                color:$mainColor;
                position: relative;
                
            }
            i{
                display: inline-block;
                width: 12px;
                height: 13px;
                background-position: -145px -1496px;
                margin-left: 5px;
                background-repeat: no-repeat;
                position: absolute;
                right: 0px;
                top: 50%;
                margin-top:-8px;
                margin-right: -20px;

            }
        }
 
        #gome-top-right{
            // 第二个li 
            li{
                position: relative;
                height: 30px;
                font: 12px/1.5;
                box-sizing: border-box;
                // 这个b是有下拉内容准备的容器
                b{ 
                    height: 30px;
                    display: block;
                    padding: 0 20px 0 10px;
                    overflow: hidden;
                    position: relative;
                    z-index: 9;
                    color: #888;
                    .drop{
                        border: 1px solid #f8f8f8;
                        border-bottom: 0;
                    }
                i{  
                    display: inline-block;
                    position: absolute;
                    top: 12px;
                    right: 8px;
                    background-position: -62px -433px;
                    width: 7px;
                    height: 4px;
                    overflow: hidden;
                    vertical-align: middle;
                    background-image: url("../images/index/ui1.png");
                    }
                }

                //隐藏样式
                .public_down{
                    width: 260px;
                    position: absolute;
                    top: 30px;
                    left: 0px;
                    overflow: hidden;
                    display: none;
                    border:1px solid #e6e6e6;
                    background-color: white;
                    >strong{
                        display: block;
                        font-weight: 700;
                        padding: 10px 10px 0;
                        color: #888;
                        width: 240px;
                        height: 24px;
                        a{
                            color: #069;
                        }
                    }
                    #mygome-order{
                        display: block;
                        padding: 0 0 9px;
                        margin: 0 10px;
                        border-bottom: 1px solid #f3f3f3;
                        overflow: hidden;
                        li{
                            display: block;
                            float: left;
                            width: 120px;
                            line-height: 25px;
                            height: 25px;
                            font: 12px/24px Arial,"Microsoft YaHei";
                            color: #888;
                            position: relative;
                        }
                    }
                    #mygome-coupon {
                        padding-left: 10px;
                        overflow: hidden;
                        li{
                            float: left;
                            width: 200px;
                            padding: 10px 0;
                            line-height: 14px;
                        }
                      
                    }
                    #step_track{
                            clear: both;
                            background: #f8f8f8;
                            padding: 10px;
                            overflow: hidden;
                    }
                    #mygome-track {
                        background: #f8f8f8;
                        padding: 0 0 18px 10px;
                        height: 50px;
                        overflow: hidden;
                        li{
                            float: left;
                            width: 50px;
                            height: 50px;
                            margin: 0 12px 10px 0;
                            background: url("../images/index/ui1.png") 0 -397px;
                        }
                    }
                    
                }

            }
            //第三个li 企业采购
            #gome-enterprise{
                .public_down{
                    width: 295px;
                    padding: 10px 15px;
                    background-color: white;
                }
                .public_down>ul{
                width: 225px;
                float: left;
                flex-wrap: wrap;
                >li{
                    width: 75px;
                    float: left;
                }
               }
                .gome-qrcode{
                    right: 0;
                    top: 0;
                    display: block;
                    float:right;
                    width: 80px;
                    height: 80px;
                    position: relative;
                    margin-left: -10px;
                    background-image: url("../images/index/1.head/enterprisescode.jpg");
                }
            }
            //第四个li 服务中心
            #gome-service{
                .public_down{
                    width: 210px;
                    padding: 10px 15px;
                    background-color: white;
                    ul{
                        padding: 0 0 10px 0;
                        overflow: hidden;
                        flex-wrap: wrap;
                        li{
                            float: left;
                            font: 12px/24px Arial,"Microsoft YaHei";
                            width: 33%;
                            overflow: hidden;
                            position: relative;
                        }
                    }
                    &>a{
                        color: #fff;
                        background: #b20fd3;
                        text-align: center;
                        display: block;
                        line-height: 25px;
                        height: 25px;
                        cursor: pointer;
                        font-weight: 400;
                        margin-top: 4px;
                        em{
                            color: white;
                        }
                    }
                }
            }
            // 第五个li 网站导航
            #gome-sitemap{
                position: static;
                .public_down{
                    padding: 10px 0;
                    left: 0;
                    width: 1198px;
                    position: absolute;
                    background-color: white;
                    top: 30px;
                    .itemflex{
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        dl{
                            border-left: 1px solid #f3f3f3;
                            padding: 0 15px 0 40px;
                            margin: 15px 0;
                            dt{
                                color: #5e5e5e;
                                font: 700 14px/14px Arial,"Microsoft YaHei";
                                margin: 0 0 14px;
                            }
                            dd{
                                display: flex;
                                min-height: 120px;
                                overflow: hidden;
                                ul{
                                    display: block;
                                    width: 75px;
                                }
                            }
                        }
                        dl.none{
                            border:none
                        }
                    }
                }
            }

            // 第六个li
            #gome-qrcode{
                .public_down{
                    position: absolute;
                    background-color: white;
                    top: 30px;
                    width: 130px;
                    background: #fff;
                    padding: 15px;
                    a{
                        display: inline-block;
                        height: 170px;
                        width: 130px;
                        background: url("../images/index/ui1.png") ;
                        background-position: 0 -799px;
                    }
                }
            }

            //字体 图标
            .gm-icon{
                font-family: 'iconfont' !important;
                font-style: normal;
                font-size: 17px;
                color: $mainColor;
                background: 0 0;
                line-height: 30px;
                height: 30px;
                display: inline-block;
                vertical-align: middle;

            }
            .gome-voice-read, .gome-voice-read-endPlay{
                width: 25px;
                height: 31px;
                cursor: pointer;
                background: url("../images/index/1.head/horn.png") no-repeat center center;
                display: inline-block;
                vertical-align: top;
            }
            .tw-gome-tts_ws{
                height: 31px;
                width: 25px;
                position: relative;
            }
            &:first-child{
                a{
                    margin-right: 10px;
                }
            }
           
        }
        
        
    }
}

// head开始
.gome-head{
    width:$PlateWidth;
    height: 120px;
    margin:0 auto;
    background-color: #069;
    #logo{
        display: block;
        width: 125px;
        height: 56px;
        text-indent: -99px;
        overflow: hidden;
        background: url("../images/index/1.head/logo.png") no-repeat 0 0;
    }
}
//head结束
// 楼层
.floor {
    width:$floorWidth;
    .mt{
        height:$floormtHeight;
        padding-top:$floormtPaddingTop;
        display: flex;
        justify-content: space-between;
        .mtTop{
            display: flex;
            height:$floormtTopHeight ;
            width:$floormtTopWidth;
            .h2_text{
                padding-left:$floorH2_text ;
            }
        }
        ul.tab{
            height: $floorUlTabHeight;
            line-height: $floorUlTabHeight ;
            //行高具有继承性
            margin-top:$floorUlTabMarginTop;
            display: flex;
            li{
                height: $floorUlTabHeight;
                color: #000;
                .current{
                    background-color:$floorUlTabLiBgc;
                    color: white;
                }
            }
            
        }
    }
    .mc{
        height:$floormcHeight;
        display: flex;
        .mc_l{
            width:$floormc_lWidth;
            height: $floormc_lHeight;
        }

        &:first-child{
            display: flex;
            width:$floormain_wrapWidth;
            height:$floormain_wrapHeight;
            .mc_c{
                width: 390px;
                height: 470px;
            }
            .mc_r{
                width: 600px;
                height: 470px;
            }


        }
        .main_wrap{
            display: flex;
            width:$floormain_wrapWidth;
            height:$floormain_wrapHeight;
        }
    }
}
