html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.h_top_wrap a {
  color: #888;
}

.h_top_wrap a:hover {
  color: #b20fd3;
}

.h_top_wrap li {
  font: 400 12px/30px Arial,"Microsoft YaHei";
}

.h_top_wrap {
  width: 100%;
  background: #f8f8f8;
  color: #5e5e5e;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
  z-index: 999;
}

.h_top_wrap .h_top_body {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.h_top_wrap .h_top_body ul {
  display: flex;
}

.h_top_wrap .h_top_body ul > li > a > i {
  position: absolute;
  top: 12px;
  right: 8px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background-image: url("../images/index/ui1.png");
}

.h_top_wrap .h_top_body ul #gome-user {
  margin-right: 12px;
  position: relative;
  width: 94px;
  box-sizing: border-box;
}

.h_top_wrap .h_top_body ul #gome-user b {
  height: 30px;
  position: relative;
  display: block;
  padding: 0 20px 0 10px;
  border: 1px solid #f8f8f8;
  border-bottom: 0;
  overflow: hidden;
  z-index: 9;
}

.h_top_wrap .h_top_body ul #gome-user b a {
  color: #888;
}

.h_top_wrap .h_top_body ul #gome-user b i {
  position: absolute;
  top: 12px;
  right: 8px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background-image: url("../images/index/ui1.png");
}

.h_top_wrap .h_top_body ul #gome-user .public_down {
  display: none;
  width: 290px;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name {
  position: absolute;
  top: 30px;
  left: -1px;
  padding: 10px 15px;
  display: flex;
  z-index: 8;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name i {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background: url("../images/index/ui1.png");
  display: inline-block;
  vertical-align: middle;
  background-position: 0 -337px;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name div p {
  padding: 10px 0  0 15px;
  width: 220px;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name div p a {
  color: #069;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link {
  height: 30px;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link a:first-child {
  margin-right: 10px;
  line-height: 32px;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link a:last-child {
  color: #b20fd3;
  position: relative;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link i {
  display: inline-block;
  width: 12px;
  height: 13px;
  background-position: -145px -1496px;
  margin-left: 5px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  margin-right: -20px;
}

.h_top_wrap .h_top_body #gome-top-right li {
  position: relative;
  height: 30px;
  font: 12px/1.5;
}

.h_top_wrap .h_top_body #gome-top-right li b {
  height: 30px;
  display: block;
  padding: 0 20px 0 10px;
  overflow: hidden;
  position: relative;
  z-index: 9;
  color: #888;
}

.h_top_wrap .h_top_body #gome-top-right li b .drop {
  border: 1px solid #f8f8f8;
  border-bottom: 0;
}

.h_top_wrap .h_top_body #gome-top-right li b .gm-icon {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-size: 17px;
  color: #b20fd3;
  background: 0 0;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.h_top_wrap .h_top_body #gome-top-right li b i {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 8px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  vertical-align: middle;
  background-image: url("../images/index/ui1.png");
}

.h_top_wrap .h_top_body #gome-top-right .gome-voice-read, .h_top_wrap .h_top_body #gome-top-right .gome-voice-read-endPlay {
  width: 25px;
  height: 31px;
  cursor: pointer;
  background: url("../images/index/1.head/horn.png") no-repeat center center;
  display: inline-block;
  vertical-align: top;
}

.h_top_wrap .h_top_body #gome-top-right .tw-gome-tts_ws {
  height: 31px;
  width: 25px;
  position: relative;
}

.h_top_wrap .h_top_body #gome-top-right:first-child a {
  margin-right: 10px;
}

.floor {
  width: 1200px;
}

.floor .mt {
  height: 38px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.floor .mt .mtTop {
  display: flex;
  height: 38px;
  width: 210px;
}

.floor .mt .mtTop .h2_text {
  padding-left: 6px;
}

.floor .mt ul.tab {
  height: 30px;
  line-height: 30px;
  margin-top: 8px;
  display: flex;
}

.floor .mt ul.tab li {
  height: 30px;
  color: #000;
}

.floor .mt ul.tab li .current {
  background-color: #719ef7;
  color: white;
}

.floor .mc {
  height: 470px;
  display: flex;
}

.floor .mc .mc_l {
  width: 210px;
  height: 470px;
}

.floor .mc:first-child {
  display: flex;
  width: 990px;
  height: 470px;
}

.floor .mc:first-child .mc_c {
  width: 390px;
  height: 470px;
}

.floor .mc:first-child .mc_r {
  width: 600px;
  height: 470px;
}

.floor .mc .main_wrap {
  display: flex;
  width: 990px;
  height: 470px;
}
