html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #b20fd3;
}

.h_top_wrap {
  width: 100%;
  background: #f8f8f8;
  color: #5e5e5e;
  border-bottom: 1px solid #f3f3f3;
}

.h_top_wrap .h_top_body {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.h_top_wrap .h_top_body ul {
  display: flex;
  font: 400 12px/30px Arial,"Microsoft YaHei";
}

.h_top_wrap .h_top_body > ul > #gome-user {
  margin-right: 12px;
  position: relative;
}

.h_top_wrap .h_top_body b {
  display: flex;
}

.h_top_wrap .h_top_body b > a {
  color: #888;
}

.h_top_wrap .h_top_body b i {
  position: absolute;
  top: 12px;
  right: -8px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background-image: url("../images/index/ui1.png");
}

.floor {
  width: 1200px;
}

.floor .mt {
  height: 38px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.floor .mt .mtTop {
  display: flex;
  height: 38px;
  width: 210px;
}

.floor .mt .mtTop .h2_text {
  padding-left: 6px;
}

.floor .mt ul.tab {
  height: 30px;
  line-height: 30px;
  margin-top: 8px;
  display: flex;
}

.floor .mt ul.tab li {
  height: 30px;
  color: #000;
}

.floor .mt ul.tab li .current {
  background-color: #719ef7;
  color: white;
}

.floor .mc {
  height: 470px;
  display: flex;
}

.floor .mc .mc_l {
  width: 210px;
  height: 470px;
}

.floor .mc:first-child {
  display: flex;
  width: 990px;
  height: 470px;
}

.floor .mc:first-child .mc_c {
  width: 390px;
  height: 470px;
}

.floor .mc:first-child .mc_r {
  width: 600px;
  height: 470px;
}

.floor .mc .main_wrap {
  display: flex;
  width: 990px;
  height: 470px;
}
