html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.h_top_wrap a {
  color: #888;
}

.h_top_wrap a:hover {
  color: #b20fd3;
}

.h_top_wrap li {
  font: 400 12px/30px Arial,"Microsoft YaHei";
}

.h_top_wrap {
  width: 100%;
  background: #f8f8f8;
  color: #5e5e5e;
  border-bottom: 1px solid #f3f3f3;
  z-index: 999;
}

.h_top_wrap .h_top_body {
  position: relative;
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.h_top_wrap .h_top_body ul {
  display: flex;
}

.h_top_wrap .h_top_body ul > li > a > i {
  position: absolute;
  top: 12px;
  right: 8px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background-image: url("../images/index/ui1.png");
}

.h_top_wrap .h_top_body ul #gome-user {
  margin-right: 12px;
  position: relative;
  width: 94px;
  box-sizing: border-box;
}

.h_top_wrap .h_top_body ul #gome-user b {
  height: 30px;
  position: relative;
  display: block;
  padding: 0 20px 0 10px;
  border: 1px solid #f8f8f8;
  border-bottom: 0;
  overflow: hidden;
  z-index: 9;
}

.h_top_wrap .h_top_body ul #gome-user b a {
  color: #888;
}

.h_top_wrap .h_top_body ul #gome-user b i {
  position: absolute;
  top: 12px;
  right: 8px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background-image: url("../images/index/ui1.png");
}

.h_top_wrap .h_top_body ul #gome-user .public_down {
  display: none;
  width: 290px;
  background-color: white;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name {
  position: absolute;
  top: 30px;
  left: 0px;
  padding: 10px 15px;
  display: flex;
  z-index: 8;
  background-color: white;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name i {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background: url("../images/index/ui1.png");
  display: inline-block;
  vertical-align: middle;
  background-position: 0 -337px;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name div p {
  padding: 10px 0  0 15px;
  width: 220px;
}

.h_top_wrap .h_top_body ul #gome-user .public_down #user-name div p a {
  color: #069;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link {
  height: 30px;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link a:first-child {
  margin-right: 10px;
  line-height: 32px;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link a:last-child {
  color: #b20fd3;
  position: relative;
}

.h_top_wrap .h_top_body > ul > #loginDiv-link i {
  display: inline-block;
  width: 12px;
  height: 13px;
  background-position: -145px -1496px;
  margin-left: 5px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  margin-right: -20px;
}

.h_top_wrap .h_top_body #gome-top-right li {
  position: relative;
  height: 30px;
  font: 12px/1.5;
  box-sizing: border-box;
}

.h_top_wrap .h_top_body #gome-top-right li b {
  height: 30px;
  display: block;
  padding: 0 20px 0 10px;
  overflow: hidden;
  position: relative;
  z-index: 9;
  color: #888;
}

.h_top_wrap .h_top_body #gome-top-right li b .drop {
  border: 1px solid #f8f8f8;
  border-bottom: 0;
}

.h_top_wrap .h_top_body #gome-top-right li b i {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 8px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  vertical-align: middle;
  background-image: url("../images/index/ui1.png");
}

.h_top_wrap .h_top_body #gome-top-right li .public_down {
  width: 260px;
  position: absolute;
  top: 30px;
  left: 0px;
  overflow: hidden;
  display: none;
  border: 1px solid #e6e6e6;
  background-color: white;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down > strong {
  display: block;
  font-weight: 700;
  padding: 10px 10px 0;
  color: #888;
  width: 240px;
  height: 24px;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down > strong a {
  color: #069;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down #mygome-order {
  display: block;
  padding: 0 0 9px;
  margin: 0 10px;
  border-bottom: 1px solid #f3f3f3;
  overflow: hidden;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down #mygome-order li {
  display: block;
  float: left;
  width: 120px;
  line-height: 25px;
  height: 25px;
  font: 12px/24px Arial,"Microsoft YaHei";
  color: #888;
  position: relative;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down #mygome-coupon {
  padding-left: 10px;
  overflow: hidden;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down #mygome-coupon li {
  float: left;
  width: 200px;
  padding: 10px 0;
  line-height: 14px;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down #step_track {
  clear: both;
  background: #f8f8f8;
  padding: 10px;
  overflow: hidden;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down #mygome-track {
  background: #f8f8f8;
  padding: 0 0 18px 10px;
  height: 50px;
  overflow: hidden;
}

.h_top_wrap .h_top_body #gome-top-right li .public_down #mygome-track li {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 12px 10px 0;
  background: url("../images/index/ui1.png") 0 -397px;
}

.h_top_wrap .h_top_body #gome-top-right #gome-enterprise .public_down {
  width: 295px;
  padding: 10px 15px;
  background-color: white;
}

.h_top_wrap .h_top_body #gome-top-right #gome-enterprise .public_down > ul {
  width: 225px;
  float: left;
  flex-wrap: wrap;
}

.h_top_wrap .h_top_body #gome-top-right #gome-enterprise .public_down > ul > li {
  width: 75px;
  float: left;
}

.h_top_wrap .h_top_body #gome-top-right #gome-enterprise .gome-qrcode {
  right: 0;
  top: 0;
  display: block;
  float: right;
  width: 80px;
  height: 80px;
  position: relative;
  margin-left: -10px;
  background-image: url("../images/index/1.head/enterprisescode.jpg");
}

.h_top_wrap .h_top_body #gome-top-right #gome-service .public_down {
  width: 210px;
  padding: 10px 15px;
  background-color: white;
}

.h_top_wrap .h_top_body #gome-top-right #gome-service .public_down ul {
  padding: 0 0 10px 0;
  overflow: hidden;
  flex-wrap: wrap;
}

.h_top_wrap .h_top_body #gome-top-right #gome-service .public_down ul li {
  float: left;
  font: 12px/24px Arial,"Microsoft YaHei";
  width: 33%;
  overflow: hidden;
  position: relative;
}

.h_top_wrap .h_top_body #gome-top-right #gome-service .public_down p {
  font: 700 12px/24px Arial,"Microsoft YaHei";
  color: #898989;
}

.h_top_wrap .h_top_body #gome-top-right #gome-service .public_down > a {
  color: #fff;
  background: #b20fd3;
  text-align: center;
  display: block;
  line-height: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: 400;
  margin-top: 4px;
}

.h_top_wrap .h_top_body #gome-top-right #gome-service .public_down > a em {
  color: white;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap {
  position: static;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap .public_down {
  padding: 10px 0;
  left: 0;
  width: 1198px;
  position: absolute;
  background-color: white;
  top: 30px;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap .public_down .itemflex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap .public_down .itemflex dl {
  border-left: 1px solid #f3f3f3;
  padding: 0 15px 0 40px;
  margin: 15px 0;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap .public_down .itemflex dl dt {
  color: #5e5e5e;
  font: 700 14px/14px Arial,"Microsoft YaHei";
  margin: 0 0 14px;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap .public_down .itemflex dl dd {
  display: flex;
  min-height: 120px;
  overflow: hidden;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap .public_down .itemflex dl dd ul {
  display: block;
  width: 75px;
}

.h_top_wrap .h_top_body #gome-top-right #gome-sitemap .public_down .itemflex dl.none {
  border: none;
}

.h_top_wrap .h_top_body #gome-top-right #gome-qrcode .public_down {
  position: absolute;
  background-color: white;
  top: 30px;
  width: 130px;
  background: #fff;
  padding: 15px;
}

.h_top_wrap .h_top_body #gome-top-right #gome-qrcode .public_down a {
  display: inline-block;
  height: 170px;
  width: 130px;
  background: url("../images/index/ui1.png");
  background-position: 0 -799px;
}

.h_top_wrap .h_top_body #gome-top-right .gm-icon {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-size: 17px;
  color: #b20fd3;
  background: 0 0;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.h_top_wrap .h_top_body #gome-top-right .gome-voice-read, .h_top_wrap .h_top_body #gome-top-right .gome-voice-read-endPlay {
  width: 25px;
  height: 31px;
  cursor: pointer;
  background: url("../images/index/1.head/horn.png") no-repeat center center;
  display: inline-block;
  vertical-align: top;
}

.h_top_wrap .h_top_body #gome-top-right .tw-gome-tts_ws {
  height: 31px;
  width: 25px;
  position: relative;
}

.h_top_wrap .h_top_body #gome-top-right:first-child a {
  margin-right: 10px;
}

.gome-head {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: #069;
  position: relative;
}

.gome-head #logo {
  margin: 32px 10px 0 0;
  float: left;
}

.gome-head #logo a {
  display: block;
  width: 125px;
  height: 56px;
  text-indent: -99px;
  overflow: hidden;
  background: url("../images/index/1.head/logo.png") no-repeat 0 0;
}

.gome-head .topsearch {
  position: absolute;
  width: 500px;
  top: 32px;
  left: 385px;
  z-index: 91;
}

.gome-head .topsearch .searchbox {
  border: 1px solid #b20fd3;
  position: relative;
  font-size: 14px;
  height: 30px;
  background: #fff;
}

.gome-head .topsearch .hotkeyword {
  margin: 6px 0 0;
  overflow: hidden;
  line-height: 14px;
  height: 14px;
  font-size: 12px;
}

.gome-head .topsearch .hotkeyword a {
  color: #a5a5a5;
}

.gome-head .topsearch .hotkeyword a.hightlight {
  color: #b20fd3;
}

.floor {
  width: 1200px;
}

.floor .mt {
  height: 38px;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.floor .mt .mtTop {
  display: flex;
  height: 38px;
  width: 210px;
}

.floor .mt .mtTop .h2_text {
  padding-left: 6px;
}

.floor .mt ul.tab {
  height: 30px;
  line-height: 30px;
  margin-top: 8px;
  display: flex;
}

.floor .mt ul.tab li {
  height: 30px;
  color: #000;
}

.floor .mt ul.tab li .current {
  background-color: #719ef7;
  color: white;
}

.floor .mc {
  height: 470px;
  display: flex;
}

.floor .mc .mc_l {
  width: 210px;
  height: 470px;
}

.floor .mc:first-child {
  display: flex;
  width: 990px;
  height: 470px;
}

.floor .mc:first-child .mc_c {
  width: 390px;
  height: 470px;
}

.floor .mc:first-child .mc_r {
  width: 600px;
  height: 470px;
}

.floor .mc .main_wrap {
  display: flex;
  width: 990px;
  height: 470px;
}
